* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imagenes {
    display: flex;
    justify-content: flex-start;
}

.imagenes img {
    width: 40%;
}

div {
    display: inline-block;
}